<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
    <add name="MaimApp.Properties.Settings.FightDBConnectionString"
        connectionString="Data Source=FightDB.mssql.somee.com;Initial Catalog=FightDB;User ID=D1narh_SQLLogin_1;Password=8vwhupaz5k"
        providerName="System.Data.SqlClient" />
    <add name="FightDBEntities" connectionString="metadata=res://*/DataModels.MaimDB.csdl|res://*/DataModels.MaimDB.ssdl|res://*/DataModels.MaimDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FightDB.mssql.somee.com;initial catalog=FightDB;user id=D1narh_SQLLogin_1;password=8vwhupaz5k;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient" />
    <add name="FightDBE" connectionString="metadata=res://*/DataModels.Model.csdl|res://*/DataModels.Model.ssdl|res://*/DataModels.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FightDB.mssql.somee.com;initial catalog=FightDB;user id=D1narh_SQLLogin_1;password=8vwhupaz5k;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient" />
    <add name="MaimDBTest" connectionString="metadata=res://*/DataModels.Model.csdl|res://*/DataModels.Model.ssdl|res://*/DataModels.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-M3UB7HI;initial catalog=Test;user id=Admin;password=1234Denis;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient" />
    <add name="MaimfEntities" connectionString="metadata=res://*/DataModels.ModelDB.csdl|res://*/DataModels.ModelDB.ssdl|res://*/DataModels.ModelDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL8005.site4now.net;initial catalog=db_a96b40_maimf;user id=db_a96b40_maimf_admin;password=1234Denis;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient" />
    <add name="MaimApp.Properties.Settings.db_a96b40_maimfConnectionString"
        connectionString="Data Source=SQL8005.site4now.net;Initial Catalog=db_a96b40_maimf;User ID=db_a96b40_maimf_admin;Password=1234Denis"
        providerName="System.Data.SqlClient" />
</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.30.0.0" newVersion="1.30.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>