<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="MaimDB" providerName="System.Data.SqlClient"
			connectionString="Data Source=FightDB.mssql.somee.com;Database=FightDB;User Id=D1narh_SQLLogin_1;Password=8vwhupaz5k;" />
	</connectionStrings>
</configuration>